variable "{{ nbdev_tf_var_name }}"{
    type = map
    default = {
{% for dev_key, dev_value in nb_devices.items() -%}
        {{ dev_key }} = {
    {% for prop_key, prop_value in dev_value.items() -%}
            {% if (prop_value|string).find('\n') > 0 -%}
        {{ prop_key }} = {{ prop_value }}
            {% else -%}
        {{ prop_key }} = "{{ prop_value }}"
            {% endif -%}
    {% endfor %}
        },
{% endfor %}
}
